# 2 Regressão Linear com Múltiplas Variáveis

In [19]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
%matplotlib inline

In [20]:
x1_label = 'Area Util'
x2_label = 'Quartos'
y_label  = 'Preco'

# Carregar dados
data = pd.read_csv('data/ex1data2.txt', header=None, names=[x1_label, x2_label, y_label])  
data.head()

   Area Util  Quartos   Preco
0       2104        3  399900
1       1600        3  329900
2       2400        3  369000
3       1416        2  232000
4       3000        4  539900

## 2.1 Normalização das características

In [21]:
data = (data - data.mean()) / data.std()  
data.head()

   Area Util   Quartos     Preco
0   0.130010 -0.223675  0.475747
1  -0.504190 -0.223675 -0.084074
2   0.502476 -0.223675  0.228626
3  -0.735723 -1.537767 -0.867025
4   1.257476  1.090417  1.595389

## 2.2 Gradiente descendente

In [22]:
def gradiente_descendente(X, y, theta, alpha, iters):  
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)

    for i in range(iters):
        error = (X * theta.T) - y

        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            temp[0,j] = theta[0,j] - ((alpha / len(X)) * np.sum(term))

        theta = temp
        cost[i] = computarCusto(X, y, theta)

    return theta, cost

Função **J(theta)** usada para computar o custo da regressão.

In [23]:
def computarCusto(X, y, theta):
    inner = np.power(((X * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(X))

A primeira coluna , será preenchida com numeros 1, represenhta o theta0

In [24]:
data.insert(0, 'Ones', 1)

#convertendo de dataframes para arrays
cols = data.shape[1]  
X2 = data.iloc[:,0:cols-1]  
y2 = data.iloc[:,cols-1:cols]

#convertendo de arrays para matrizes
X2 = np.matrix(X2.values)  
y2 = np.matrix(y2.values)  
theta2 = np.matrix(np.array([0,0,0]))

Inicializando os hiperparametros

In [26]:
# initialize variables for learning rate and iterations
alpha = 0.01  
iters = 1000

0.13070336960771892