# 2 Regressão Linear com Múltiplas Variáveis

In [7]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
%matplotlib inline

from aprendizado_maquina import regressao_linear as rl

In [8]:
x1_label = 'Area Util'
x2_label = 'Quartos'
y_label  = 'Preco'

# Carregar dados
data = pd.read_csv('data/ex1data2.txt', header=None, names=[x1_label, x2_label, y_label])  
data.head()

   Area Util  Quartos   Preco
0       2104        3  399900
1       1600        3  329900
2       2400        3  369000
3       1416        2  232000
4       3000        4  539900

## 2.1 Normalização das características

In [9]:
data = (data - data.mean()) / data.std()  
data.head()

   Area Util   Quartos     Preco
0   0.130010 -0.223675  0.475747
1  -0.504190 -0.223675 -0.084074
2   0.502476 -0.223675  0.228626
3  -0.735723 -1.537767 -0.867025
4   1.257476  1.090417  1.595389

## 2.2 Gradiente descendente

A primeira coluna , será preenchida com numeros 1, represenhta o theta0

In [10]:
data.insert(0, 'Ones', 1)

#convertendo de dataframes para arrays
cols = data.shape[1]  
X2 = data.iloc[:,0:cols-1]  
y2 = data.iloc[:,cols-1:cols]

#convertendo de arrays para matrizes
X2 = np.matrix(X2.values)  
y2 = np.matrix(y2.values)  
theta2 = np.matrix(np.array([0,0,0]))  

X2.shape, y2.shape, theta2.shape

((47, 3), (47, 1), (1, 3))

Inicializando os hiperparametros

In [11]:
alpha = 0.01  
iters = 1000

Executa a regreessão linear sobre o conjunto de dados

In [16]:
g2, cost2 = rl.gradiente_descendente_batch(X2, y2, theta2, alpha, iters)
g2

matrix([[ -1.04077503e-16,   8.78503652e-01,  -4.69166570e-02]])

Computando o custo do Erro

In [17]:
rl.custo_regressao_linear(X2, y2, g2)

0.13070336960771892